:host {
  display: block;
  width: 90%;
  height: 20px;
  margin: 8px;
  border: 2px solid #38678f;
  background: white;

  div {
    background: #38678f;
    height: 100%;
    width: 30%;
  }

  .all {
    width: 100%;
  }
}
