h1 {
  text-align: center;
}

button {
  width: 20%;
  height: 40px;
  display: block;
  background: #38678f;
  border: none;
  border-radius: 3px;
  color: white;
  float: right;
  margin-right: 5%;
}

.countdown-input {
  display: block;
  float: left;
  height: 40px;
  margin-left: 5%;
  input {
    box-sizing: border-box;
    height: 100%;
  }
}
